<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
    
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='css/style.css'>
  </head>
  <body>
    
    
    <div class='nav'>
      <h1>DonTheDeveloper</h1>
      <ul>
        <li>Blog</li>
        <li>Portfolio</li>
        <li>Contact</li>
      </ul>
    </div>
      
    <section class='post guest'>
      <h2>Guest Post</h2>
<!--       <hr /> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href=''>Read More</a>
    </section>
    <section class='post fullstack'>
      <h2>First week at Fullstack Academy</h2>
<!--       <hr /> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href=''>Read More</a>
    </section>
    <section class='post developer'>
      <h2>Guest Post</h2>
<!--       <hr /> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href=''>Read More</a>
    </section>
    
    <div class="subscribe-container text-center">
      <form>
        <input type="email" name="input-email" placeholder="Enter your email address" />
        <button>Notify Me</button>
      </form>
    </div>
    
    <div class="footer1">
      <div class="container text-center">
        <ul class="social-nav">
          <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
          <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
        </ul>
        
        <ul class="footer-nav">
          <li>Blog</li>
          <li>Portfolio</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    
    <div class="footer2">
      
    </div>
    
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </body>
</html>