body {
/*   font-family: 'Raleway', sans-serif; */
/*   font-family: 'Open Sans', sans-serif; */
/*   font-family: 'Montserrat', sans-serif; */
/*   font-family: 'Merriweather', serif; */
/*   font-family: 'Droid Sans', sans-serif; */
}

.post {
  text-align: center;
  padding: 5rem 9rem;
}

.post p {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

.post h2 {
  font-family: 'Montserrat', serif;
}

.post hr {
  width: 50px;
  border-width: 2px 0 1px;
  border-color: #fff;
  border-style: solid;
/*   border: 2px solid #fff; */
}

.guest {
  background-color: #B20000;
  color: #E0FFFF;
}

.guest a {
  display: inline-block;
  padding: .75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: 700;
  background-color: white;
  border-radius: 15px;
  color: #000;
}

.fullstack {
  background-color: #222;
  color: #fff;
}

.fullstack a {
  display: inline-block;
  padding: .75rem 1.5rem;
  /* border: 1px solid white; */
  border-radius: 15px;
  background-color: #E13B3A;
  text-decoration: none;
  margin-top: 1rem;
  color: white;
  font-weight: 700; 
}

.fullstack h2 {
  color: #E13B3A;
}

.developer a {
  background-color: #222;
  padding: .75rem 1.5rem;
  display: inline-block;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  margin-top: 1rem;
}